
*
{
    text-align:center;
    font-family: 'Broadway','Sans-serif';
    font-size: 36pt;
}

body
{
    background-color: coral;
}
.Gname
{
    margin:0px;
}
.lives,.links,.motive,.H2play
{
    color:darkblue
}
.links
{
    text-decoration: none;
  
}

.links:hover
{
    color:red;
}
.head-1
{
    margin:10px 0px;
}
.head-1 p,.motive,.H2play
{
    text-align: left;
}
.head-1 p
{
    font-size:22pt;
}



.head-2
{
    margin-top:60px;
}
.ins li
{
    list-style:disc;
    font-size:22pt;
    text-align: left;
}

.refresh
{
    font-size:16pt;
    margin-top:10px;
    margin-bottom: 0px;
}

